.np-services-dop {
    padding: 140px 0 15px;
    // .np-services-dop__title
    font-family: $font;
    &__slider-nav {
        @media(min-width:1025px) {
            display: none;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        button {
            cursor: pointer;
            border: none;
            background-color: transparent;
            padding: 5px;
            
        }
        .swiper-pagination {
            position: static;
            width: fit-content;
            margin: 0 25px;
            padding-bottom: 5px;
            .swiper-pagination-bullet {
                background-color: #000;
                opacity: .3;
                width: 6px;
                height: 6px;
                &.swiper-pagination-bullet-active {
                    opacity: 1;
                }
            }
        }
        .services-dop-prev {
            
        }
        .services-dop-next {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    &__title {
        margin-bottom: 60px;
        text-align: center;
        h3 {
            display: block;
            width: fit-content;
            margin: 0 auto;
            font-size: 40px;
            color: #333;
        }
    }

    // .np-services-dop__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    // .np-services-dop__item

    &__item {
        margin: 0 15px 30px;
        width: calc(33.33% - 30px);
        outline: 1px solid #DBDBDB;
        .img {
            height: 260px;
            img {
                height: 260px;
                object-fit: cover;
                width: 100%;
            }
        }
        .text {
            box-sizing: border-box;
            padding: 30px;
            p {
                color: #333333;
                font-weight: 400;
                font-size: 18px;
                margin: 0;
                display: block;
                margin-bottom: 5px;
            }
            span {
                display: block;
                color: #333;
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
        .np-btn {
            display: block;
            background-color: $red;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            padding: 12px 30px;
            width: fit-content;
        }
        
    }
    &__slider {
        padding: 5px;
        box-sizing: border-box;
        margin: 0 -5px;
        .np-services-dop__item-slide {
            margin: 0;
            width: auto;
            max-width: none;
        }
    }
}

@media(max-width:1024px) {
    .np-services-dop {
        padding: 50px 0 30px;
        &__title {
            h3 {
                font-size: 36px;
            }
        }
    }
}

@media(max-width:620px) {
    .np-services-dop {
        &__title {
            h3 {
                font-size: 24px;
            }
        }
        &__item {
            outline: none;
            .img {
                width: 100%;
                min-height: none;
                height: 120px;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text {
                padding: 20px 0 0;
                p {
                    font-size: 12px;
                }
                span {
                    font-size: 11px;
                }
            }
            a.np-btn {
                width: 100%;
                max-width: none;
                padding: 11px;
                color: #fff;
                font-size: 10px;
                box-sizing: border-box;
                text-align: center;
            }
        }
    }
}
