.np-skvagina {
    padding: 80px 0;
    // .np-skvagina__title

    &__title {
        margin-bottom: 60px;
        h2 {
            text-align: center;
            font-family: $font;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.3;
            color: #333;
            display: block;
            margin: 0;

        }
    }

    // .np-skvagina__items
    .np-skvagina__slider-tablet {
        display: none;
    }
    &__items {
        display: flex;
        align-items: stretch;
        margin: 0 -15px;
        flex-wrap: wrap;
        
    }

    // .np-skvagina__item

    &__item {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 28px;
            height: 17px;
            background-image: url(assets/imgs/uslugi/arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        display: flex;
        align-items: center;
        margin: 0 15px 30px;
        box-sizing: border-box;
        padding: 20px;
        width: calc(33.33% - 30px);
        min-height: 180px;
        border: 1px solid #dbdbdb;
        text-decoration: none;
        .img {
            width: 100px;
            min-width: 100px;
            height: 100px;
            margin-right: 40px;
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: contain;
                
            }
        }
        .text {
            height: 100%;
            flex-direction: column;
            display: flex;
            p {
                margin: 0;
                margin-bottom: auto;
                color: #000;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.5;
            }
            span {
                margin-top: 20px;
                display: block;
                color: #000;
                font-family: $font;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }
}

@media(max-width:1200px) {

    .np-skvagina {
        &__item {
            min-height: 140px;
            .img {
                width: 50px;
                height: 50px;
                min-width: 50px;
            }
            .text {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width:920px) {
    .np-skvagina {
        padding: 40px 0;
        &__nav {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                height: 30px;
                width: 20px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                background-image: url(assets/imgs/uslugi/slider-arrow.svg);
                background-size: 10px 20px;
                background-repeat: no-repeat;
                background-position: center;
                box-sizing: border-box;
                
                &.sk-prev {

                }
                &.sk-next {
                    transform: rotate(180deg);
                }
            }
        }
        .np-skvagina__slider-tablet {
            display: block;
            .swiper-pagination {
                margin: 0 20px;
                position: static;
                display: flex;
                width: fit-content;
                .swiper-pagination-bullet {
                    border: none;
                    background-color: #000;
                    opacity: .3;
                    &.swiper-pagination-bullet-active {
                        opacity: 1;
                    }
                }
            }
        }
        &__items {
            &.for-pc {
                display: none;
            }
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        &__items {
            &.for-pc {
                display: none;
            }
        }
        &__item {
            height: auto;
            min-height: 0;
            border: none;
            width: 100%;
            margin: 0 0 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 35px;
            padding-left: 0;
            &::before {
                top: 50%;
                right: 0;
                transform: translateY(-50%);

            }
            .img {
                width: 60px;
                height: 60px;
                min-width: 60px;
                margin-right: 25px;
            }
            .text {
                p {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                span {
                    margin-top: 0;
                }
            }
        }
    }
}


// новый блок

.npblock1 {
    padding: 80px 0 40px;
    // .npblock1__body

    &__body {
        padding: 40px 10% 40px;
        border: 1px solid #dbdbdb;
        background: #f8f8f8;
    }

    // .npblock1__title

    &__title {
        margin-bottom: 40px;
        h2 {
            margin: 0;
            text-align: center;
            display: block;
            font-family: $font;
            font-size: 40px;
            line-height: 1.3;
            font-weight: 700;
            color: #000;
            margin-bottom: 15px;
        }
        p {
            display: block;
            text-align: center;
            margin: 0;
            font-family: $font;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
        }
    }

    // .npblock1__items

    &__items {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    // .npblock1__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 260px;
        width: 100%;
        margin: 0 15px;
        img {
            display: block;
            width: 120px;
            height: 120px;
            margin-bottom: 15px;
        }
        span {
            display: block;
            margin: 0;
            text-align: center;
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #000;
        }
    }

    // .npblock1__text

    &__text {
        box-sizing: border-box;
        padding-top: 120px;
        position: relative;
        margin-bottom: 75px;
        &::before{
            content: '';
            position: absolute;
            left: 50%;
            top: 40px;
            width: 60px;
            height: 36px;
            background-image: url(assets/imgs/uslugi/arrow.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(90deg) translateY(75%);
        }
        p {
            font-family: $font;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
            display: block;
            color: #000;
            margin: 0 auto;
            text-align: center;
            max-width: 580px;
            margin-bottom: 20px;
        }
        a {
            margin: 0 auto;
            max-width: none;
            width: fit-content;
            padding: 16px 32px;
            box-sizing: border-box;
            font-size: 16px;
        }
    }

    // .npblock1__attention

    &__attention {
        width: 100%;
        max-width: 880px;
        margin: 0 auto;
        border: 1px solid #DBDBDB;
        background: #fff;
        padding: 20px 40px;
        padding-left: 150px;
        box-sizing: border-box;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 40px;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
            height: 80px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(assets/imgs/uslugi/attention.png);
        }
        span {
            display: block;
            margin: 0;
            margin-bottom: 25px;
            font-size: 12px;
            font-family: $font;
            font-weight: 400;
            line-height: 1.4;
            color: #000;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media(max-width:920px) {
    .npblock1 {
        &__body {
            padding: 40px 20px;
        }
        &__title {
            h2 {
                max-width: 340px;
                margin: 0 auto 20px;
            }
            p {

            }
        }
        &__items {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: -30px;
        }
        &__item {
            margin-bottom: 30px;
        }
    }
}

@media(max-width:560px) {
    .npblock1 {
        padding: 40px 0;
        &__title {
            h2 {
                font-size: 24px;
                line-height: 1.3;
                margin-bottom: 12px;
            }
            P {
                font-size: 16px;
            }
        }
        &__items {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        &__item {
            margin: 0 0 30px;
            
        }
        &__text {
            p {
                font-size: 14px;
            }
        }
        &__attention {
            padding: 20px 20px 20px 80px;
            &::before {
                transform: none;
                top: 20px;
                left: 20px;
                width: 40px;
                height: 40px;
            }
            
        }
    }
}

.npblock2 {
    padding: 80px 0;
    // .npblock2__body

    &__body {
        display: flex;
        align-items: stretch;
    }

    // .npblock2__text

    &__text {
        width: 40%;
        margin-right: 30px;
        h2 {
            margin: 0;
            display: block;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.3;
            color: #333;
            margin-bottom: 40px;
        }
        p {
            color: #000;
            font-family: $font;
            font-size: 16px;
            line-height: 1.3;
            margin: 0;
            margin-bottom: 55px;
            max-width: 480px;
        }
        h3 {
            font-family: $font;
            font-size: 32px;
            line-height: 1.4;
            font-weight: 700;
            margin: 0;
            display: block;
            margin-bottom: 30px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                font-size: 16px;
                font-family: $font;
                font-weight: 400;
                line-height: 1.4;
                color: #000;
                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    color: #000;
                    font-family: $font;
                    font-size: 30px;
                    font-weight: 900;
                    display: inline-block;
                    margin-right: 15px;
                }

            }
        }
    }

    // .npblock2__img

    &__img {
        width: 60%;
        img {
            display: block;
            max-width: 100%;
            object-fit: contain;
        }
        h4 {
            display: none;
        }
        ul {
            display: none;
        }
    }
}

@media(max-width:920px) {
    .npblock2 {
        padding: 40px 0;
        &__img {
            width: 100%;
            max-width: 640px;
            margin: 0 auto;
        }
        &__body {
            flex-direction: column;
            align-items: center;
        }
        &__text {
            width: 100%;
            margin: 0 0 30px;
            max-width: none;
            text-align: center;
            p {
                margin: 0 auto 50px;
            }
            h3 {
                max-width: 480px;
                text-align: center;
                margin: 0 auto 25px;
            }
            ul {
                max-width: 360px;
                margin: 0 auto 65px;
                li {
                    text-align: left;
                }
            }
        }
    }
}

@media(max-width:560px) {
    .npblock2 {
        &__text {
            h2 {
                font-family: $font;
                font-size: 20px;
                font-weight: 700;
                line-height: 1.5;
                color: #000;
                display: block;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.4;
            }
            h3 {
                font-size: 16px;
                line-height: 1.5;
                max-width: 180px;
                margin-bottom: 20px;
            }
            ul {
                max-width: none;
                margin-bottom: 30px;
                li {
                    font-size: 16px;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        font-size: 20px;
                    }
                }
            }
        }
        &__img {
            img {
                display: none;
            }
            h4 {
                margin: 0;
                font-size: 36px;
                font-weight: 400;
                color: #000;
                font-family: $font;
                line-height: 1.3;
                display: block;
                text-align: center;
                margin-bottom: 20px;
                span {
                    display: block;   
                    color: #00308c;
                    font-weight: 600;
                }
            }
            ul {
                display: block;
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    margin-bottom: 15px;
                    font-family: $font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #000;
                    position: relative;
                    padding-left: 40px;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 24px;
                        height: 24px;
                        background-image: url(assets/imgs/uslugi/check.svg);
                        background-size: cover;
                        background-repeat: no-repeat;

                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    position: relative;
                }
            }
        }
    }
}


.npblock3 {

    // .npblock3__title

    &__title {
    }

    // .npblock3__items

    &__items {
    }

    // .npblock3__item

    &__item {
    }
}
.np-container {
}
.num {
}
